* {
  box-sizing: border-box;
}
body {
  background-image: url("./img.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;

  /* text-align: center;
  justify-content: center; */
  min-height: 90vh;
  margin: 0;
}
.allofthem {
  display: flex;
  margin-left: 80px;
  margin-top: 2rem;
  text-align: center;
}
h1 {
  color: white;
  margin-left: 110px;
  font-size: 3rem;
}
.btext {
  color: white;
  font-size: 5rem;
  line-height: 0.5;

  margin: 0 2rem;
  margin-bottom: 1rem;
}
span {
  color: white;
}
